/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  text-align: center;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
main img {
  background-image: url("/img/kidsSmiling.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100vw;
  margin-bottom: -10%;
}
main .hookP {
  position: absolute;
  margin-top: 7%;
  margin-left: -90%;
  font-size: 2.5vw;
  width: 30%;
  background: white;
  opacity: 0.9;
  color: orange;
  text-size-adjust: auto;
  padding: 1%;
}
main #joinUs {
  margin-top: 20%;
  font-size: 3vw;
  color: floralwhite;
  border-radius: 5px;
  width: 20%;
  margin-left: -90%;
  background-color: gold;
  cursor: pointer;
  text-align: center;
  width: 30%;
  padding: 1%;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
}
main #joinUs:hover {
  background-color: lightblue;
  color: black;
  transition-duration: 0.3s;
}
.goldenRule {
  display: flex;
  flex-direction: column;
  margin: 0% 3%;
  padding: 3%;
  border: 1px solid black;
  align-items: center;
  background-color: #fcb614;
  opacity: 0.9;
  margin-bottom: 7%;
}
.goldenRule h1 {
  margin: 1% 0%;
  font-size: 2vw;
  color: black;
  border-bottom: 1px solid black;
  width: 25%;
}
.goldenRule p {
  margin: 1% auto;
  font-size: 1.2vw;
}
.backgroundImage {
  background-image: url(/img/babyInBack.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 45vw;
  margin-bottom: -3%;
}
.spaceFiller {
  padding-top: 7%;
}
.img2 {
  background-image: url(/img/littleGirlHuggingBaby.jpg);
  margin-top: -3%;
}
#howItWorks {
  margin-top: 7%;
  font-size: 2.7vw;
  font-weight: bold;
}
.howSection {
  display: flex;
  justify-content: space-between;
  margin: 5% 7%;
}
.howSection div {
  width: 24%;
  font-size: 3.5vw;
}
.howSection div i {
  margin-bottom: 5%;
}
.howSection div h2 {
  font-size: 2.2vw;
  font-weight: lighter;
  color: gold;
}
.howSection div p {
  font-size: 1.5vw;
}
.img3 {
  background-image: url(/img/motherHelpingSon.jpg);
  margin-bottom: 5%;
}
#chartdiv {
  width: 100vw;
  height: 30vw;
  background-color: #FFFFFF;
}
.spaceFiller2 {
  padding-bottom: 6%;
}
.img4 {
  background-image: url(/img/tugOfWar.jpg);
  margin-bottom: 5%;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-size: 1.3vw;
  padding: 0% 10%;
  border-bottom: 1px solid black;
  padding-bottom: 1%;
  margin-bottom: 3%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: white;
}
header img {
  margin-top: 2%;
  width: 5vw;
  margin-right: 15vw;
}
header img:hover {
  background-color: lightgray;
  transition-duration: 0.3s;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  margin-top: 0.5%;
}
header nav a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 0.7%;
}
header nav a:hover {
  color: #fcc915;
  border-bottom: 1px solid black;
  transition-duration: 0.3s;
}
header .loginSignUp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20vw;
  font-weight: lighter;
  text-decoration: none;
}
header .loginSignUp #loginButton {
  text-decoration: none;
  color: gold;
  padding: 2%;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid black;
}
header .loginSignUp #loginButton:hover {
  color: lightblue;
  transition-duration: 0.3s;
}
header .loginSignUp #signupButton {
  background-color: gold;
  padding: 2%;
  text-decoration: none;
  margin-left: 5%;
  white-space: nowrap;
  color: white;
  border-radius: 5px;
}
header .loginSignUp #signupButton:hover {
  color: black;
  background-color: lightblue;
  transition-duration: 0.5s;
}
.form-cont {
  font-size: 200%;
  margin: 3% 10%;
  padding: 0% 5%;
  text-align: left;
}
.form-cont input[type=text],
.form-cont select,
.form-cont textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.form-cont input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-cont input[type=submit]:hover {
  background-color: gold;
}
