/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  text-align: center;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
main .img5 {
  background-image: url(../img/backgroundImage.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 40vw;
  margin-bottom: -3%;
  width: 100vw;
}
main .hookP {
  position: absolute;
  margin-top: 7%;
  margin-left: -90%;
  font-size: 2.5vw;
  width: 30%;
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
  opacity: 0.9;
  color: #e6c300;
  text-size-adjust: auto;
  padding: 1%;
  border-radius: 2px;
}
@media ( max-width: 1000px) {
  main .hookP {
    font-size: 3.5vw;
  }
}
@media ( max-width: 800px) {
  main .hookP {
    font-size: 4vw;
    padding: 2%;
    margin-left: -75%;
    width: 50%;
  }
}
@media ( max-width: 600px) {
  main .hookP {
    margin-top: 7.5%;
  }
}
main #joinUs {
  margin-top: 20%;
  font-size: 3vw;
  background-color: gold;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  width: 30%;
  padding: 1%;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
}
main #joinUs:hover {
  background-color: lightblue;
  color: black;
  transition-duration: 0.3s;
}
@media ( max-width: 1000px) {
  main #joinUs {
    margin-top: 28vw;
  }
}
@media ( max-width: 800px) {
  main #joinUs {
    font-size: 3.5vw;
    width: 50%;
    padding: 1.5%;
  }
}
.goldenRule {
  display: flex;
  flex-direction: column;
  margin: 0% 3%;
  padding: 3%;
  border: 1px solid #e0e0e0;
  align-items: center;
  background-color: gold;
  opacity: 0.9;
  margin-bottom: 7%;
}
.goldenRule h1 {
  padding: 1% 0%;
  font-size: 3.2vw;
  color: black;
  border-bottom: 1px solid black;
  width: 35%;
}
@media ( max-width: 1000px) {
  .goldenRule h1 {
    width: 50%;
    font-size: 4vw;
  }
}
@media ( max-width: 800px) {
  .goldenRule h1 {
    width: 50%;
    font-size: 4.5vw;
  }
}
@media ( max-width: 600px) {
  .goldenRule h1 {
    font-size: 5vw;
    width: 60%;
  }
}
.goldenRule p {
  margin: 2% auto;
  font-size: 2vw;
  width: 75%;
}
@media ( max-width: 1000px) {
  .goldenRule p {
    width: 90%;
    font-size: 2.5vw;
  }
}
@media ( max-width: 800px) {
  .goldenRule p {
    font-size: 3.2vw;
    width: 100%;
  }
}
@media ( max-width: 600px) {
  .goldenRule p {
    font-size: 4vw;
    width: 100%;
  }
}
.backgroundImage {
  background-image: url(../img/babyInBack.jpg);
  background-attachment: fixed;
  height: 40vw;
  margin-bottom: -3%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media ( max-width: 800px) {
  .backgroundImage {
    background-attachment: scroll;
  }
}
.spaceFiller {
  padding-top: 7%;
}
.img2 {
  background-image: url(../img/littleGirlHuggingBaby.jpg);
  height: 35vw;
  margin-top: -3%;
}
#howItWorks {
  margin-top: 7%;
  font-size: 2.7vw;
  font-weight: bold;
}
@media ( max-width: 1000px) {
  #howItWorks {
    font-size: 3.5vw;
  }
}
@media ( max-width: 800px) {
  #howItWorks {
    font-size: 4.5vw;
  }
}
@media ( max-width: 600px) {
  #howItWorks {
    font-size: 5.5vw;
    margin-top: 12%;
    margin-bottom: 10%;
  }
}
.howSection {
  display: flex;
  justify-content: space-between;
  margin: 5% 7%;
}
.howSection div {
  width: 24%;
  font-size: 3.5vw;
}
.howSection div i {
  margin-bottom: 5%;
}
@media ( max-width: 600px) {
  .howSection div i {
    font-size: 6vw;
    align-items: center;
    margin-bottom: 3%;
  }
}
.howSection div h2 {
  font-size: 2.2vw;
  font-weight: lighter;
  color: gold;
}
@media ( max-width: 1000px) {
  .howSection div h2 {
    font-size: 3vw;
  }
}
@media ( max-width: 800px) {
  .howSection div h2 {
    font-size: 4vw;
  }
}
@media ( max-width: 600px) {
  .howSection div h2 {
    font-size: 6vw;
  }
}
@media ( max-width: 800px) {
  .howSection div #easyDataP {
    padding-bottom: 13.5vw;
  }
}
.howSection div p {
  font-size: 1.6vw;
  margin: 2%;
  padding: 5%;
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
}
@media ( max-width: 1000px) {
  .howSection div p {
    font-size: 2.2vw;
  }
}
@media ( max-width: 800px) {
  .howSection div p {
    font-size: 3vw;
  }
}
@media ( max-width: 600px) {
  .howSection div p {
    font-size: 4.2vw;
    margin-bottom: 10%;
  }
}
@media ( max-width: 1000px) {
  .howSection div {
    width: 40%;
    margin: 2%;
  }
}
@media ( max-width: 600px) {
  .howSection div {
    width: 100%;
    margin: 0%;
  }
}
@media ( max-width: 1000px) {
  .howSection {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media ( max-width: 600px) {
  .howSection {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
.img3 {
  background-image: url(../img/motherHelpingSon.jpg);
  height: 35vw;
  margin-bottom: 5%;
}
@media ( max-width: 800px) {
  .img3 {
    display: none;
  }
}
#chartdiv {
  width: 100vw;
  height: 30vw;
  background-color: #FFFFFF;
}
@media ( max-width: 800px) {
  #chartdiv {
    display: none;
  }
}
.spaceFiller2 {
  padding-bottom: 6%;
}
.img4 {
  background-image: url(../img/tugOfWar.jpg);
  height: 35vw;
  margin-bottom: 5%;
}
.testimonials {
  font-size: 4vw;
  margin: 5% 35vw;
  padding-bottom: 1%;
  border-bottom: 5px solid gold;
}
@media ( max-width: 1000px) {
  .testimonials {
    font-size: 6vw;
    margin: 5% 30vw;
  }
}
@media ( max-width: 600px) {
  .testimonials {
    font-size: 7.5vw;
    margin: 5% 25vw;
  }
}
.quotes {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid black;
}
.quotes div {
  margin: 5% 5%;
  width: 31%;
}
.quotes div h2 {
  color: gray;
  margin: 3%;
  font-size: 2.5vw;
}
@media ( max-width: 1000px) {
  .quotes div h2 {
    font-size: 4vw;
  }
}
@media ( max-width: 600px) {
  .quotes div h2 {
    font-size: 7vw;
  }
}
.quotes div .fa-quote-left,
.quotes div .fa-quote-right {
  color: black;
}
.quotes div i {
  font-size: 1.5vw;
  color: gold;
}
@media ( max-width: 1000px) {
  .quotes div i {
    font-size: 2.5vw;
  }
}
@media ( max-width: 600px) {
  .quotes div i {
    font-size: 4.5vw;
    margin: 4% 0%;
  }
}
.quotes div img {
  border-radius: 50%;
  width: 15vw;
  border: 1px solid black;
}
@media ( max-width: 600px) {
  .quotes div img {
    width: 30vw;
  }
}
.quotes div p {
  color: black;
  margin: 3%;
  padding: 5%;
  font-size: 1.5vw;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
}
@media ( max-width: 1000px) {
  .quotes div p {
    font-size: 2.7vw;
  }
}
@media ( max-width: 600px) {
  .quotes div p {
    font-size: 5.7vw;
  }
}
@media ( max-width: 1000px) {
  .quotes div #firstP {
    padding-bottom: 27.5vw;
  }
}
@media ( max-width: 600px) {
  .quotes div #firstP {
    padding-bottom: 0;
  }
}
@media ( max-width: 1000px) {
  .quotes div {
    flex-wrap: wrap;
    width: 40%;
  }
}
@media ( max-width: 600px) {
  .quotes div {
    width: 80%;
  }
}
@media ( max-width: 1000px) {
  .quotes {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media ( max-width: 600px) {
  .quotes {
    flex-direction: column;
    align-items: center;
  }
}
.contactUs {
  margin: 0% 35%;
  padding: 1% 0%;
  margin-top: 10%;
  color: black;
  font-size: 3vw;
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.3vw;
  padding: 0% 10%;
  border-bottom: 1px solid black;
  padding-bottom: 1%;
  margin-bottom: 3%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: white;
}
header img {
  margin-top: 2%;
  width: 5vw;
  margin-right: 15vw;
}
header img:hover {
  background-color: lightgray;
  transition-duration: 0.3s;
}
@media ( max-width: 800px) {
  header img {
    width: 10vw;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  margin-top: 0.5%;
}
header nav a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 0.7%;
}
header nav a:hover {
  color: #fcc915;
  border-bottom: 1px solid black;
  transition-duration: 0.3s;
}
@media ( max-width: 800px) {
  header nav {
    padding: 3% 0%;
  }
}
@media ( max-width: 600px) {
  header nav {
    width: 45%;
    font-size: 4vw;
  }
}
header .loginSignUp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20vw;
  font-weight: lighter;
  text-decoration: none;
}
header .loginSignUp #loginButton {
  text-decoration: none;
  color: gold;
  padding: 2%;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid black;
}
header .loginSignUp #loginButton:hover {
  color: gold;
  transition-duration: 0.3s;
}
header .loginSignUp #signupButton {
  background-color: gold;
  padding: 2%;
  text-decoration: none;
  margin-left: 5%;
  white-space: nowrap;
  color: white;
  border-radius: 5px;
}
header .loginSignUp #signupButton:hover {
  color: black;
  background-color: lightblue;
  transition-duration: 0.5s;
}
@media ( max-width: 600px) {
  header .loginSignUp {
    width: 15%;
    margin-left: 10vw;
    font-size: 4vw;
  }
}
@media ( max-width: 1000px) {
  header {
    font-size: 2.5vw;
  }
}
@media ( max-width: 600px) {
  header {
    padding: 1vw;
  }
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
footer h2 {
  font-size: 1.2vw;
  padding: 2% 1%;
  margin: auto 25vw;
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
  bottom: 0;
}
@media ( max-width: 1000px) {
  footer h2 {
    padding: 2.5% 1.5%;
    font-size: 2.2vw;
  }
}
@media ( max-width: 600px) {
  footer h2 {
    margin: auto;
    padding: 3.5% 1.5%;
    font-size: 3.2vw;
  }
}
.footerDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10vw;
  font-size: 3.2vw;
}
.footerDiv a {
  margin: 0.5% 0%;
  color: gold;
}
@media ( max-width: 1000px) {
  .footerDiv {
    font-size: 4.2vw;
  }
}
@media ( max-width: 600px) {
  .footerDiv {
    font-size: 6.2vw;
    margin: 2% 0%;
    margin-right: 17vw;
    margin-bottom: 5vw;
  }
}
.formCont {
  font-size: 2.5vw;
  margin: 3% 10%;
  padding: 0% 5%;
  text-align: left;
}
.formCont input[type=text],
.formCont select,
.formCont textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.formCont input[type=submit] {
  background-color: gold;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.formCont textarea {
  height: 200px;
}
.formCont input[type=submit]:hover {
  background-color: lightblue;
  color: black;
}
@media ( max-width: 1000px) {
  .formCont {
    font-size: 3vw;
  }
}
.ourTeam {
  margin-top: 10%;
  font-size: 3.5vw;
}
@media ( max-width: 600px) {
  .ourTeam {
    margin-top: 10%;
  }
}
.aboutUs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5% 5%;
  margin-left: 7%;
}
.aboutUs div {
  margin: 2% 0%;
}
.aboutUs div img {
  margin: 5% 0%;
  width: 10vw;
}
@media ( max-width: 1000px) {
  .aboutUs div img {
    width: 15vw;
  }
}
@media ( max-width: 600px) {
  .aboutUs div img {
    width: 35vw;
  }
}
.aboutUs div h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
@media ( max-width: 600px) {
  .aboutUs div h2 {
    font-size: 5vw;
  }
}
.aboutUs div h3 {
  margin: 5% 0%;
  font-size: 1.8vw;
}
@media ( max-width: 1000px) {
  .aboutUs div h3 {
    font-size: 2.4vw;
  }
}
@media ( max-width: 600px) {
  .aboutUs div h3 {
    font-size: 5vw;
  }
}
@media ( max-width: 1000px) {
  .aboutUs {
    width: 60vw;
    margin: 5% 20%;
  }
}
@media ( max-width: 600px) {
  .aboutUs {
    flex-direction: column;
    align-items: center;
  }
}
