// About Styles 

.ourTeam {
    margin-top: 10%;
    font-size: 3.5vw;
}

.aboutUs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5% 5%;
    margin-left: 7%;

    div {
        margin: 2% 0%;

        img {
            margin: 2% 0%;
            width: 10vw;
        }

        h2 {
            font-size: 2.5vw;
        }

        h3 {
            margin: 2% 0%;
            font-size: 1.8vw;
        }
    }//closes div
}//closes .aboutUs